In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sample_data/Iris.csv")

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           NaN  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    146.000000
mean    75.500000       5.843333      3.054000       3.758667      1.225342
std     43.445368       0.828066      0.433594       1.764420      0.755834
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:

df.shape

(150, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   146 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False          True    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [ ]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     4
Species          0
dtype: int64

In [ ]:
df.isnull().sum().sum()

4

In [ ]:
df1 = df.fillna(value=0)
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.0  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df2=df.fillna(value=df["SepalLengthCm"].mean())
df2.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4      0.200000  Iris-setosa
1   2            4.9           3.0            1.4      0.200000  Iris-setosa
2   3            4.7           3.2            1.3      5.843333  Iris-setosa
3   4            4.6           3.1            1.5      0.200000  Iris-setosa
4   5            5.0           3.6            1.4      0.200000  Iris-setosa

In [ ]:
df["PetalLengthCm"]=df["PetalLengthCm"].round(0).astype(int)
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm      int64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
df['Species']=le.fit_transform(df['Species'])
df['Species'].unique()
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5              1           0.2        0
1      2            4.9           3.0              1           0.2        0
2      3            4.7           3.2              1           NaN        0
3      4            4.6           3.1              2           0.2        0
4      5            5.0           3.6              1           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0              5           2.3        2
146  147            6.3           2.5              5           1.9        2
147  148            6.5           3.0              5           2.0        2
148  149            6.2           3.4              5           2.3        2
149  150            5.9           3.0              5           1.8        2

[150 rows x 6 columns]

# New Section